In [5]:
from snowflake.snowpark import Session
import warnings; warnings.simplefilter('ignore')
import configparser

In [6]:
#Import all snowflake connection details from template variables.
db_user = 'ASHUTOSH'
db_password = 'Password@2023'
db_account = 'ug94937.us-east4.gcp'
db_database =  'RETAIL_DB'
db_role = 'ASHUTOSH'
db_warehouse = 'FOSFOR_SOLUTIONS_WH'
db_schema = 'CPG_SAP_OTIF_SCHEMA'

In [7]:
from snowflake.snowpark.session import Session
connection_params = {
    'user': db_user,
    'password': db_password,
    'account': db_account,
    'warehouse': db_warehouse,
    'database': db_database,
    'schema': db_schema,
    'role': db_role
}
session1 = Session.builder.configs(connection_params).create()

In [8]:
df = session1.table("ENRICHED_ORDER_SHIP")

In [9]:
df = df.to_pandas()

In [10]:
df.shape

(966997, 46)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966997 entries, 0 to 966996
Data columns (total 46 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   CUSTOMER_PURCHASE_ORDER_DATE          966997 non-null  object
 1   ORDER_ENTRY_DATE                      966997 non-null  object
 2   ORDER_REQUIRED_DELIVERY_DATE          966997 non-null  object
 3   ORDER_CUSTOMER_REQUEST_DELIVERY_DATE  966997 non-null  object
 4   ORDER_PROMISE_DATE                    966997 non-null  object
 5   ORDER_FIRST_SHIPMENT_DATE             966997 non-null  object
 6   SHIPMENT_ACTUAL_START_DATE            966997 non-null  object
 7   ORDER_LINECANCEL_DATE                 966997 non-null  object
 8   ITEM_OTQF                             758063 non-null  object
 9   ITEM_OTQF_FLAG                        966997 non-null  object
 10  ITEM_OTQF_DAYS                        847138 non-null  float64
 11  ITEM_ORDERFILL                        856681 non-null  object
 12  ITEM_ORDERFILL_FLAG                   966997 non-null  object
 13  ITEM_ORDERFILL_DAYS                   957859 non-null  float64
 14  ITEM_CUSTOMER                         749640 non-null  object
 15  ITEN_CUSTOMER_ORDERFILL_FLAG          966997 non-null  int8
 16  ITEM_CUSTOER_DAYS                     847138 non-null  float64
 17  OPEN_ORDER_FLAG                       966997 non-null  object
 18  BACK_ORDER_FLAG                       966997 non-null  object
 19  CANCEL_FLAG                           966997 non-null  object
 20  CUSTOMER_NAME                         966997 non-null  object
 21  SHIPMENT_ORIGINATION_FACILITY         966997 non-null  object
 22  ORDER_NUMBER                          966997 non-null  int32
 23  PRODUCT_TYPE                          966997 non-null  object
 24  PACKAGE_TYPE                          966997 non-null  object
 25  PRODUCT_TECHNOLOGY                    966997 non-null  object
 26  PRODUCT_SUBTECHNOLOGY                 966997 non-null  object
 27  PRODUCT_DESIGN_TYPE                   966997 non-null  object
 28  PRODUCT_SIZE                          966997 non-null  object
 29  SUB_BRAND                             966997 non-null  object
 30  CITY                                  966997 non-null  object
 31  OUTLETS                               966997 non-null  object
 32  ORDER_QUANTITY                        966997 non-null  int16
 33  QUANTITY_SHIPPED_ORDERFILL            966997 non-null  int16
 34  QUANTITY_SHIPPED_CUSTOMER             966997 non-null  int16
 35  QUANTITY_SHIPPED_OTQF                 966997 non-null  int16
 36  DELIVERED_QUANTITY                    966997 non-null  int16
 37  DELIVERED_QUANTITY_OTQF               966997 non-null  int16
 38  OPEN_QUANTITY                         966997 non-null  int16
 39  BACK_ORDER_QUANTITY                   966997 non-null  int16
 40  CANCEL_QUANTITY                       966997 non-null  int16
 41  REGION                                966997 non-null  object
 42  COUNTRY                               966997 non-null  object
 43  CHANNEL                               966997 non-null  object
 44  SHIPMENT_ORIGINATION_FACILITY_TYPE    966997 non-null  object
 45  BRAND                                 966997 non-null  object
dtypes: float64(3), int16(9), int32(1), int8(1), object(32)
memory usage: 279.4+ MB

In [12]:
df.describe()

,ITEM_OTQF_DAYS,ITEM_ORDERFILL_DAYS,ITEN_CUSTOMER_ORDERFILL_FLAG,ITEM_CUSTOER_DAYS,ORDER_NUMBER,ORDER_QUANTITY,QUANTITY_SHIPPED_ORDERFILL,QUANTITY_SHIPPED_CUSTOMER,QUANTITY_SHIPPED_OTQF,DELIVERED_QUANTITY,DELIVERED_QUANTITY_OTQF,OPEN_QUANTITY,BACK_ORDER_QUANTITY,CANCEL_QUANTITY
count,847138.000000,957859.000000,966997.000000,847138.000000,9.669970e+05,966997.000000,966997.000000,966997.000000,966997.000000,966997.000000,966997.000000,966997.000000,966997.000000,966997.000000
mean,2.011305,3.693469,0.775225,1.896582,6.558998e+08,11.416645,8.242307,7.453716,7.915539,10.188873,7.915539,0.109673,0.009023,1.076810
std,6.158673,73.026508,0.417434,15.900373,5.002552e+08,49.739258,41.710886,37.219895,41.016887,46.502475,41.016887,8.756870,1.218614,13.822955
min,-2918.000000,-3647.000000,0.000000,-7290.000000,8.251023e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,9.365112e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,2.000000,2.000000,1.000000,2.000000,1.100943e+09,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000
75%,4.000000,4.000000,1.000000,4.000000,1.101130e+09,4.000000,3.000000,3.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.000000
max,203.000000,3447.000000,1.000000,113.000000,1.101299e+09,2760.000000,2760.000000,2760.000000,2760.000000,2760.000000,2760.000000,2400.000000,462.000000,1476.000000

In [13]:
df.tail()

,CUSTOMER_PURCHASE_ORDER_DATE,ORDER_ENTRY_DATE,ORDER_REQUIRED_DELIVERY_DATE,ORDER_CUSTOMER_REQUEST_DELIVERY_DATE,ORDER_PROMISE_DATE,ORDER_FIRST_SHIPMENT_DATE,SHIPMENT_ACTUAL_START_DATE,ORDER_LINECANCEL_DATE,ITEM_OTQF,ITEM_OTQF_FLAG,...,DELIVERED_QUANTITY,DELIVERED_QUANTITY_OTQF,OPEN_QUANTITY,BACK_ORDER_QUANTITY,CANCEL_QUANTITY,REGION,COUNTRY,CHANNEL,SHIPMENT_ORIGINATION_FACILITY_TYPE,BRAND
966992,2023-02-11,2023-02-12,2023-02-22,2023-02-22,2023-02-28,2023-02-27,2023-02-27,1900-05-09,None,0,...,18,0,0,0,0,MS,United States,Modern Channel,3PL Third Party Logistics,Rock star Energy
966993,2023-01-13,2023-01-13,2023-01-25,2023-01-25,2023-01-20,2023-01-20,2023-01-20,1900-05-09,91979039_28,1,...,2,2,0,0,0,CA,United States,Modern Channel,Fully Integrated Plant,Maxwell Home
966994,2023-01-13,2023-01-13,2023-01-25,2023-01-25,2023-01-22,2023-01-22,2023-01-22,1900-05-09,91979130_1,1,...,2,2,0,0,0,OR,United States,Modern Channel,Fully Integrated Plant,Craisins Trail
966995,2023-01-13,2023-01-13,2023-01-25,2023-01-25,1900-05-09,2023-01-23,1900-05-09,2023-01-23,None,0,...,0,0,0,0,2,WA,United States,Modern Channel,Fully Integrated Plant,Maxwell Home
966996,2023-01-13,2023-01-13,2023-01-25,2023-01-25,1900-05-09,2023-01-20,1900-05-09,2023-01-20,None,0,...,0,0,0,0,1,NV,United States,Modern Channel,Fully Integrated Plant,Craisins Trail

In [14]:
df.isnull().sum()

CUSTOMER_PURCHASE_ORDER_DATE                 0
ORDER_ENTRY_DATE                             0
ORDER_REQUIRED_DELIVERY_DATE                 0
ORDER_CUSTOMER_REQUEST_DELIVERY_DATE         0
ORDER_PROMISE_DATE                           0
ORDER_FIRST_SHIPMENT_DATE                    0
SHIPMENT_ACTUAL_START_DATE                   0
ORDER_LINECANCEL_DATE                        0
ITEM_OTQF                               208934
ITEM_OTQF_FLAG                               0
ITEM_OTQF_DAYS                          119859
ITEM_ORDERFILL                          110316
ITEM_ORDERFILL_FLAG                          0
ITEM_ORDERFILL_DAYS                       9138
ITEM_CUSTOMER                           217357
ITEN_CUSTOMER_ORDERFILL_FLAG                 0
ITEM_CUSTOER_DAYS                       119859
OPEN_ORDER_FLAG                              0
BACK_ORDER_FLAG                              0
CANCEL_FLAG                                  0
CUSTOMER_NAME                                0
SHIPMENT_ORIGINATION_FACILITY                0
ORDER_NUMBER                                 0
PRODUCT_TYPE                                 0
PACKAGE_TYPE                                 0
PRODUCT_TECHNOLOGY                           0
PRODUCT_SUBTECHNOLOGY                        0
PRODUCT_DESIGN_TYPE                          0
PRODUCT_SIZE                                 0
SUB_BRAND                                    0
CITY                                         0
OUTLETS                                      0
ORDER_QUANTITY                               0
QUANTITY_SHIPPED_ORDERFILL                   0
QUANTITY_SHIPPED_CUSTOMER                    0
QUANTITY_SHIPPED_OTQF                        0
DELIVERED_QUANTITY                           0
DELIVERED_QUANTITY_OTQF                      0
OPEN_QUANTITY                                0
BACK_ORDER_QUANTITY                          0
CANCEL_QUANTITY                              0
REGION                                       0
COUNTRY                                      0
CHANNEL                                      0
SHIPMENT_ORIGINATION_FACILITY_TYPE           0
BRAND                                        0
dtype: int64

In [20]:
cols = ['BACK_ORDER_FLAG','BRAND','CANCEL_FLAG','CHANNEL','CITY','COUNTRY','ITEM_ORDERFILL_FLAG','ITEM_OTQF_FLAG','OPEN_ORDER_FLAG','BACK_ORDER_FLAG','CANCEL_FLAG','CUSTOMER_NAME','SHIPMENT_ORIGINATION_FACILITY','PRODUCT_TYPE','PACKAGE_TYPE','PRODUCT_TECHNOLOGY','PRODUCT_SUBTECHNOLOGY','PRODUCT_DESIGN_TYPE','PRODUCT_SIZE','SUB_BRAND','OUTLETS','REGION','SHIPMENT_ORIGINATION_FACILITY_TYPE']

In [21]:
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df[col].nunique())

------------------------------------------------
BACK_ORDER_FLAG  ->  2
------------------------------------------------
BRAND  ->  32
------------------------------------------------
CANCEL_FLAG  ->  2
------------------------------------------------
CHANNEL  ->  3
------------------------------------------------
CITY  ->  3369
------------------------------------------------
COUNTRY  ->  6
------------------------------------------------
ITEM_ORDERFILL_FLAG  ->  2
------------------------------------------------
ITEM_OTQF_FLAG  ->  2
------------------------------------------------
OPEN_ORDER_FLAG  ->  2
------------------------------------------------
BACK_ORDER_FLAG  ->  2
------------------------------------------------
CANCEL_FLAG  ->  2
------------------------------------------------
CUSTOMER_NAME  ->  80
------------------------------------------------
SHIPMENT_ORIGINATION_FACILITY  ->  17
------------------------------------------------
PRODUCT_TYPE  ->  1
------------------------------------------------
PACKAGE_TYPE  ->  3
------------------------------------------------
PRODUCT_TECHNOLOGY  ->  1
------------------------------------------------
PRODUCT_SUBTECHNOLOGY  ->  3
------------------------------------------------
PRODUCT_DESIGN_TYPE  ->  3
------------------------------------------------
PRODUCT_SIZE  ->  7
------------------------------------------------
SUB_BRAND  ->  32
------------------------------------------------
OUTLETS  ->  7
------------------------------------------------
REGION  ->  67
------------------------------------------------
SHIPMENT_ORIGINATION_FACILITY_TYPE  ->  4

In [22]:
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df[col].value_counts())

------------------------------------------------
BACK_ORDER_FLAG  ->  BACK_ORDER_FLAG
0    966765
1       232
Name: count, dtype: int64
------------------------------------------------
BRAND  ->  BRAND
Craisins Trail       537937
Maxwell Home         122404
Power                101088
Rock star Energy      79713
Polish Spring         41074
HitCH                 14477
Optimal               14072
Cola-Cola             13891
Pure Laef             13698
Arizona Hardy          7099
Arizona Palmer         5168
A&B                    4178
Dr Peppor              2426
Ocan Spray             2019
Pepso                  1663
Del Valla              1223
Maid Minute            1181
Sunskist               1098
Nescaef                 804
Trop Essentials         608
Dunkins                 518
Orange                  199
Pacth                   159
Body Armor               93
Loptin                   73
Trop Pure Premium        63
Simple                   24
Arizona Brew             19
Vitamin water            15
Folger                    7
Dasvani                   5
RD Cola                   1
Name: count, dtype: int64
------------------------------------------------
CANCEL_FLAG  ->  CANCEL_FLAG
0    877244
1     89753
Name: count, dtype: int64
------------------------------------------------
CHANNEL  ->  CHANNEL
Modern Channel         966041
Traditional Channel       536
eCommerce                 420
Name: count, dtype: int64
------------------------------------------------
CITY  ->  CITY
Phoenix            7451
San Antonio        6927
Jacksonville       5382
Lexington          5079
Las Vegas          4593
                   ...
Saint Pauls           1
Kapaa                 1
Northglenn            1
Fountain Valley       1
Sainte-Julie          1
Name: count, Length: 3369, dtype: int64
------------------------------------------------
COUNTRY  ->  COUNTRY
United States    955853
Canada            11056
Germany              73
Mexico               13
Spain                 1
Brazil                1
Name: count, dtype: int64
------------------------------------------------
ITEM_ORDERFILL_FLAG  ->  ITEM_ORDERFILL_FLAG
1    856681
0    110316
Name: count, dtype: int64
------------------------------------------------
ITEM_OTQF_FLAG  ->  ITEM_OTQF_FLAG
1    758063
0    208934
Name: count, dtype: int64
------------------------------------------------
OPEN_ORDER_FLAG  ->  OPEN_ORDER_FLAG
0    966313
1       684
Name: count, dtype: int64
------------------------------------------------
BACK_ORDER_FLAG  ->  BACK_ORDER_FLAG
0    966765
1       232
Name: count, dtype: int64
------------------------------------------------
CANCEL_FLAG  ->  CANCEL_FLAG
0    877244
1     89753
Name: count, dtype: int64
------------------------------------------------
CUSTOMER_NAME  ->  CUSTOMER_NAME
WALMART - US                  660346
TRACTOR SUPPLY CORPORATION     94035
INTERSTATE BATTERIES US        89880
LES SCHWAB                     42110
ADVANCE AUTO PARTS US          19890
                               ...
THOMAS BUILT BUSES OEM             2
FIAT CHRYSLER US OEM               1
OPTIMA-BRASIL                      1
VOLVO TRUCK OEM                    1
BAI CANADA                         1
Name: count, Length: 80, dtype: int64
------------------------------------------------
SHIPMENT_ORIGINATION_FACILITY  ->  SHIPMENT_ORIGINATION_FACILITY
Yuma Plant           147776
San Antonio 3PL      143638
Portland Plant       119359
Fort Wayne DC        104224
Tampa Plant           94045
Middletown Dc         90277
Aurora 3PL            88446
St. Joseph Dc         62874
Florence DC           56485
San Antonio Plant     35837
Geneva Plant          19239
Optima Plant           2714
CL Llc Holland         1469
Ddc Toronto 3pl         312
Toledo Plant            161
Milwaukee Hq 1          113
Ddc Calgary 3pl          28
Name: count, dtype: int64
------------------------------------------------
PRODUCT_TYPE  ->  PRODUCT_TYPE
Beverage    966997
Name: count, dtype: int64
------------------------------------------------
PACKAGE_TYPE  ->  PACKAGE_TYPE
Regular       966622
Test             264
Blind Test       111
Name: count, dtype: int64
------------------------------------------------
PRODUCT_TECHNOLOGY  ->  PRODUCT_TECHNOLOGY
Soft Drinks    966997
Name: count, dtype: int64
------------------------------------------------
PRODUCT_SUBTECHNOLOGY  ->  PRODUCT_SUBTECHNOLOGY
Aerated Drinks    843670
Energy Drink      123269
Ice Tea               58
Name: count, dtype: int64
------------------------------------------------
PRODUCT_DESIGN_TYPE  ->  PRODUCT_DESIGN_TYPE
Cans       952925
Bottles     13483
Pet Jar       589
Name: count, dtype: int64
------------------------------------------------
PRODUCT_SIZE  ->  PRODUCT_SIZE
12 Oz    664474
16 Oz    112496
8 Oz      84459
22 Oz     75563
24 Oz     28071
65 Oz      1886
72 Oz        48
Name: count, dtype: int64
------------------------------------------------
SUB_BRAND  ->  SUB_BRAND
Craisins Trail       537937
Maxwell Home         122404
Power                101088
Rock star Energy      79713
Polish Spring         41074
HitCH                 14477
Optimal               14072
Cola-Cola             13891
Pure Laef             13698
Arizona Hardy          7099
Arizona Palmer         5168
A&B                    4178
Dr Peppor              2426
Ocan Spray             2019
Pepso                  1663
Del Valla              1223
Maid Minute            1181
Sunskist               1098
Nescaef                 804
Trop Essentials         608
Dunkins                 518
Orange                  199
Pacth                   159
Body Armor               93
Loptin                   73
Trop Pure Premium        63
Simple                   24
Arizona Brew             19
Vitamin water            15
Folger                    7
Dasvani                   5
RD Cola                   1
Name: count, dtype: int64
------------------------------------------------
OUTLETS  ->  OUTLETS
Hyperstore            850421
SuperStore             99579
Mini Marts             15834
eCommerce                420
Mom and Pop Stores       328
Grocery Stores           208
Fuel Station             207
Name: count, dtype: int64
------------------------------------------------
REGION  ->  REGION
TX     100883
FL      90790
CA      61061
GA      50606
TN      40506
        ...
YT         11
MEX        11
CHH         2
O           1
SP          1
Name: count, Length: 67, dtype: int64
------------------------------------------------
SHIPMENT_ORIGINATION_FACILITY_TYPE  ->  SHIPMENT_ORIGINATION_FACILITY_TYPE
Distribution center          497473
Fully Integrated Plant       235518
3PL Third Party Logistics    232424
Headquarters                   1582
Name: count, dtype: int64

In [24]:
df['OTIF_Score'] = df['DELIVERED_QUANTITY_OTQF']/df['ORDER_QUANTITY']
df['Cancel_Score'] = df['CANCEL_QUANTITY']/df['ORDER_QUANTITY']
df['Fill_Score'] = df['DELIVERED_QUANTITY']/df['ORDER_QUANTITY']

In [33]:
# Group by 'Customer_Name' and find the maximum 'Order_Date'
latest_order_dates = df.groupby('CUSTOMER_NAME')['ORDER_ENTRY_DATE'].max().reset_index()

In [36]:
latest_order_dates.columns = ['CUSTOMER_NAME','RECENT_ORDER_ENTRY_DATE']
latest_order_dates.head()

              CUSTOMER_NAME RECENT_ORDER_ENTRY_DATE
0     ADVANCE AUTO PARTS US              2023-11-06
1  AMARA RAJA BATTERIES LTD              2023-11-04
2             AMAZON OPTIMA              2023-10-31
3      AUTO PLUS AUTO PARTS              2023-11-06
4            AUTOCAR US OEM              2023-11-06

In [39]:
# Join the 'latest_order_dates' with the original dataframe
df = df.merge(latest_order_dates, left_on='CUSTOMER_NAME', right_on="CUSTOMER_NAME")

In [ ]:
#Set our data to rfm Analysis
rfm = df.groupby('CUSTOMER_NAME','SHIPMENT_ORIGINATION_FACILITY']).agg({'InvoiceDate' : lambda date : (recent_date - date.max()).days ,
'InvoiceNo' : lambda num :num.nunique() ,
'CheckoutPrice' : lambda CheckoutPrice :CheckoutPrice.sum()} )